<h1>People</h1>
<ul>
  <li *ngFor="let person of people$ | async">
    <button (click)="showPerson(person.id)">{{ person.name }}</button>
  </li>
</ul>
<h2>{{ loadingText }}</h2>
<article *ngIf="person$ | async as person">
  <dl>
    <dt>id</dt>
    <dd>{{ person.id }}</dd>
    <dt>name</dt>
    <dd>{{ person.name }}</dd>
    <dt>height</dt>
    <dd>{{ person.height }}</dd>
    <dt>mass</dt>
    <dd>{{ person.mass }}</dd>
    <dt>hair color</dt>
    <dd>{{ person.hair_color }}</dd>
    <dt>skin color</dt>
    <dd>{{ person.skin_color }}</dd>
    <dt>eye color</dt>
    <dd>{{ person.eye_color }}</dd>
    <dt>birth year</dt>
    <dd>{{ person.birth_year }}</dd>
    <dt>gender</dt>
    <dd>{{ person.gender }}</dd>
  </dl>
</article>

<pre>{{ detailedPeople$ | async | json }}</pre>
